@charset "UTF-8";
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-inicio h2, .main-productos h2, .main-promociones h2, .main-contactanos h2, .main-nosotros h2 {
  font-family: 'Beth Ellen', cursive;
  font-size: 45px;
  font-weight: lighter;
  color: white;
  text-shadow: 3px 3px 3px black;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }

/*Estilos del Body*/
body {
  background-image: url(../../img/MaderaNegra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

/*Estilos del Header*/
.header-inicio {
  background-size: cover;
  padding: 33px 15px 0px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .header-inicio div a img {
    width: 180px;
    margin-bottom: 10px; }
  .header-inicio .menu h1 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 3.3vw;
    font-weight: lighter;
    text-align: center;
    color: white;
    margin-top: 15px; }
  .header-inicio .menu nav div ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .header-inicio .menu nav div ul li {
      list-style: none;
      margin: 15px;
      text-align: center; }
      .header-inicio .menu nav div ul li a {
        font-family: 'Rubik Dirt', cursive;
        font-size: 24px;
        font-weight: lighter;
        color: #CC9544;
        text-decoration: none;
        transition: 0.8s; }
        .header-inicio .menu nav div ul li a:hover {
          transform: scale(1.2);
          color: white; }

/*Estilos del Footer*/
footer {
  background-size: cover;
  padding: 6px;
  text-align: center; }
  footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: white;
    margin: 20px; }
  footer div {
    margin: 10px; }
    footer div a img {
      margin-left: 15px;
      margin-right: 15px; }
  footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin: 15px; }

/*Estilos de las Sections*/
.volver-arriba {
  margin: 1.5rem; }
  .volver-arriba div {
    margin: 1.5rem; }
    .volver-arriba div a {
      font-family: 'Rubik Dirt', cursive;
      font-size: 24px;
      font-weight: lighter;
      color: white;
      text-decoration: none;
      transition: 0.5s; }
      .volver-arriba div a:hover {
        color: #CC9544; }

.item-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60px;
  margin: 21px; }

/*Contenido del Index*/
.main-inicio div {
  font-family: 'Beth Ellen', cursive;
  font-weight: lighter;
  color: white;
  text-shadow: 2px 2px 2px black; }
  .main-inicio div .subtitulo {
    font-family: 'Beth Ellen', cursive;
    font-weight: lighter;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 2rem; }
  .main-inicio div p {
    font-weight: lighter;
    font-size: 35px; }
  .main-inicio div img {
    width: 72%;
    height: auto;
    margin: 30px;
    border-radius: 12px;
    border: 2px solid whitesmoke; }

.main-inicio div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas: "contenido-inicio-uno contenido-inicio-tres" "contenido-inicio-dos contenido-inicio-cuatro" "contenido-inicio-cinco contenido-inicio-cinco" "contenido-inicio-seis contenido-inicio-ocho" "contenido-inicio-siete contenido-inicio-nueve";
  text-align: center; }
  .main-inicio div .contenido-inicio-uno {
    grid-area: contenido-inicio-uno;
    display: inline-block; }
  .main-inicio div .contenido-inicio-dos {
    grid-area: contenido-inicio-dos;
    display: inline-block; }
  .main-inicio div .contenido-inicio-tres {
    grid-area: contenido-inicio-tres;
    display: inline-block; }
  .main-inicio div .contenido-inicio-cuatro {
    grid-area: contenido-inicio-cuatro;
    display: inline-block; }
  .main-inicio div .contenido-inicio-cinco {
    grid-area: contenido-inicio-cinco;
    display: inline-block; }
  .main-inicio div .contenido-inicio-seis {
    grid-area: contenido-inicio-seis;
    display: inline-block; }
  .main-inicio div .contenido-inicio-siete {
    grid-area: contenido-inicio-siete;
    display: inline-block; }
  .main-inicio div .contenido-inicio-ocho {
    grid-area: contenido-inicio-ocho;
    display: inline-block; }
  .main-inicio div .contenido-inicio-nueve {
    grid-area: contenido-inicio-nueve;
    display: inline-block; }

/*Contenido de Productos*/
.main-productos div {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas: "card-uno card-dos card-tres card-cuatro" "card-cinco card-seis card-siete card-ocho" "card-nueve card-diez card-once card-doce";
  justify-items: center; }
  .main-productos div .card-title {
    font-size: 24px; }
  .main-productos div .card-text {
    align-items: center; }
  .main-productos div .card-uno {
    grid-area: card-uno;
    display: inline-block; }
  .main-productos div .card-dos {
    grid-area: card-dos;
    display: inline-block; }
  .main-productos div .card-tres {
    grid-area: card-tres;
    display: inline-block; }
  .main-productos div .card-cuatro {
    grid-area: card-cuatro;
    display: inline-block; }
  .main-productos div .card-cinco {
    grid-area: card-cinco;
    display: inline-block; }
  .main-productos div .card-seis {
    grid-area: card-seis;
    display: inline-block; }
  .main-productos div .card-siete {
    grid-area: card-siete;
    display: inline-block; }
  .main-productos div .card-ocho {
    grid-area: card-ocho;
    display: inline-block; }
  .main-productos div .card-nueve {
    grid-area: card-nueve;
    display: inline-block; }
  .main-productos div .card-diez {
    grid-area: card-diez;
    display: inline-block; }
  .main-productos div .card-once {
    grid-area: card-once;
    display: inline-block; }
  .main-productos div .card-doce {
    grid-area: card-doce;
    display: inline-block; }
  .main-productos div .card-body {
    display: inline-block; }

/*Contenido de Promociones*/
.main-promociones {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-promociones .slide {
    width: 63%;
    margin: 2rem;
    height: auto; }
    .main-promociones .slide img {
      border-radius: 12px;
      border: 2px solid whitesmoke; }
    .main-promociones .slide div h3 {
      text-shadow: 3px 1px 2px black;
      font-size: 35px; }
    .main-promociones .slide div p {
      text-shadow: 3px 1px 2px black;
      font-size: 21px; }

/*Contenido de Contáctanos*/
.main-contactanos div {
  display: flex;
  justify-content: space-evenly; }
  .main-contactanos div .contenido-contacto-uno {
    display: inline-block;
    margin: 2rem; }
  .main-contactanos div .contenido-contacto-dos {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem; }
    .main-contactanos div .contenido-contacto-dos iframe {
      border-radius: 12px; }
  .main-contactanos div .contenido-contacto-tres {
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin: 2rem; }
    .main-contactanos div .contenido-contacto-tres p {
      font-size: 30px;
      color: white;
      text-shadow: 2px 2px 2px black;
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
      font-size: 42px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 12px;
      padding: 1rem;
      width: 300px; }
  .main-contactanos div .subtitulo {
    font-family: 'Beth Ellen', cursive;
    font-weight: lighter;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 2rem;
    text-align: center; }
  .main-contactanos div form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 12px; }
    .main-contactanos div form h4 {
      color: white;
      text-shadow: 2px 2px 2px black;
      text-align: center;
      margin: 0;
      font-size: 30px;
      margin-bottom: 20px; }
    .main-contactanos div form .formulario {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
      border: none; }
    .main-contactanos div form textarea {
      min-height: 100px;
      max-height: 200px;
      max-width: 100%; }
    .main-contactanos div form #boton {
      background-color: black;
      color: white;
      padding: 6px;
      font-size: 18px; }
      .main-contactanos div form #boton:hover {
        background-color: gray; }

/*Contenido de Nosotros*/
.main-nosotros div {
  text-align: center; }
  .main-nosotros div .subtitulo {
    font-family: 'Beth Ellen', cursive;
    font-weight: lighter;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 2rem; }
  .main-nosotros div p {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 30px;
    margin-right: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 1.5rem;
    height: auto; }
  .main-nosotros div img {
    width: 90%;
    height: auto;
    margin: 30px;
    border-radius: 12px;
    border: 2px solid white; }

.main-nosotros div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.1fr;
  grid-template-areas: "contenido-nosotros-uno contenido-nosotros-dos" "contenido-nosotros-tres contenido-nosotros-cuatro";
  align-items: center; }
  .main-nosotros div .contenido-nosotros-uno {
    grid-area: contenido-nosotros-uno;
    display: inline-block; }
  .main-nosotros div .contenido-nosotros-dos {
    grid-area: contenido-nosotros-dos;
    display: inline-block; }
  .main-nosotros div .contenido-nosotros-tres {
    grid-area: contenido-nosotros-tres;
    display: inline-block; }
  .main-nosotros div .contenido-nosotros-cuatro {
    grid-area: contenido-nosotros-cuatro;
    display: inline-block; }

/*Media Queries*/
@media screen and (max-width: 1024px) {
  /*Nuevo estilo del header*/
  .header-inicio {
    display: block;
    text-align: center; }
    .header-inicio #arriba {
      font-size: 36px;
      margin-bottom: 1.5rem; }
  /*Nuevos estilos del Contenido del Index*/
  .main-inicio h2 {
    font-size: 36px; }
  .main-inicio div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main-inicio div p {
      font-size: 30px; }
    .main-inicio div img {
      width: 85%;
      height: auto; }
    .main-inicio div .contenido-inicio-cinco {
      width: 100vh; }
    .main-inicio div .contenido-inicio-seis {
      width: 100vh; }
    .main-inicio div .contenido-inicio-ocho {
      width: 100vh; }
  /*Nuevos estilos de las sections*/
  .volver-arriba {
    display: none; }
  section {
    display: none; }
  /*Nuevos estilos del footer*/
  .footer-inicio {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-inicio h5 {
      font-size: 15px; }
    .footer-inicio div {
      display: flex; }
  /*Nuevos estilos del contenido de Productos*/
  .main-productos h2 {
    font-size: 36px; }
  .main-productos div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  /*Nuevos estilos del contenido de Promociones*/
  .main-promociones h2 {
    font-size: 36px; }
  .main-promociones .slide {
    width: 90%; }
  /*Nuevos estilos del contenido de Sobre Nosotros*/
  .main-nosotros h2 {
    font-size: 36px; }
  .main-nosotros div {
    display: flex;
    flex-wrap: wrap; }
    .main-nosotros div .contenido-nosotros-tres {
      display: flex;
      justify-content: center; }
    .main-nosotros div p {
      font-size: 24px; }
  /*Nuevos estilos del contenido de Contáctanos*/
  .main-contactanos h2 {
    font-size: 36px; }
  .main-contactanos div {
    display: flex;
    flex-wrap: wrap; }
    .main-contactanos div iframe {
      width: 50vh; } }
