/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-inicio h2, .main-productos h2, .main-promociones h2, .main-contactanos h2, .main-nosotros h2 {
  font-family: 'Beth Ellen', cursive;
  font-size: 45px;
  font-weight: lighter;
  color: white;
  text-shadow: 3px 3px 3px black;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }

/*Estilos del Body*/
body {
  background-image: url(../img/Fondomadera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

/*Estilos del Header*/
.header-inicio {
  background-image: url(../img/Papelnegro.jpg);
  background-size: cover;
  padding: 15px 15px 0px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .header-inicio div a img {
    width: 180px;
    margin-bottom: 10px; }
  .header-inicio .menu h1 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    color: white;
    margin-top: 15px; }
  .header-inicio .menu nav div ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .header-inicio .menu nav div ul li {
      list-style: none;
      margin: 15px;
      text-align: center; }
      .header-inicio .menu nav div ul li a {
        font-family: 'Rubik Dirt', cursive;
        font-size: 24px;
        font-weight: lighter;
        color: #CC9544;
        text-decoration: none;
        transition: 1s; }
        .header-inicio .menu nav div ul li a:hover {
          transform: scale(1.2);
          color: white; }

/*Estilos del Footer*/
footer {
  background-image: url(../img/Papelnegro.jpg);
  background-size: cover;
  padding: 6px;
  text-align: center; }
  footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: white;
    margin: 20px; }
  footer div {
    margin: 15px; }
    footer div a img {
      margin-left: 15px;
      margin-right: 15px; }
  footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin: 15px; }

/*Estilos de las Sections*/
.volver-arriba {
  margin: 1.2rem; }
  .volver-arriba div a {
    font-family: 'Rubik Dirt', cursive;
    font-size: 24px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    transition: 1s; }
    .volver-arriba div a:hover {
      transform: scale(1.2); }

.item-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60px;
  margin: 21px; }

/*Contenido del Index*/
.main-inicio div {
  font-family: 'Beth Ellen', cursive;
  font-weight: lighter;
  color: white;
  text-shadow: 2px 2px 2px black; }
  .main-inicio div .subtitulo {
    font-family: 'Beth Ellen', cursive;
    font-weight: lighter;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 2rem; }
  .main-inicio div p {
    font-weight: lighter;
    font-size: 35px; }
  .main-inicio div img {
    width: 72%;
    height: auto;
    margin: 30px;
    border-radius: 12px;
    border: 1px solid whitesmoke; }

.main-inicio div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas: "contenido-inicio-uno contenido-inicio-tres" "contenido-inicio-dos contenido-inicio-cuatro" "contenido-inicio-cinco contenido-inicio-cinco" "contenido-inicio-seis contenido-inicio-ocho" "contenido-inicio-siete contenido-inicio-nueve";
  text-align: center; }
  .main-inicio div .contenido-inicio-uno {
    grid-area: contenido-inicio-uno;
    display: inline-block; }
  .main-inicio div .contenido-inicio-dos {
    grid-area: contenido-inicio-dos;
    display: inline-block; }
  .main-inicio div .contenido-inicio-tres {
    grid-area: contenido-inicio-tres;
    display: inline-block; }
  .main-inicio div .contenido-inicio-cuatro {
    grid-area: contenido-inicio-cuatro;
    display: inline-block; }
  .main-inicio div .contenido-inicio-cinco {
    grid-area: contenido-inicio-cinco;
    display: inline-block; }
  .main-inicio div .contenido-inicio-seis {
    grid-area: contenido-inicio-seis;
    display: inline-block; }
  .main-inicio div .contenido-inicio-siete {
    grid-area: contenido-inicio-siete;
    display: inline-block; }
  .main-inicio div .contenido-inicio-ocho {
    grid-area: contenido-inicio-ocho;
    display: inline-block; }
  .main-inicio div .contenido-inicio-nueve {
    grid-area: contenido-inicio-nueve;
    display: inline-block; }
