@mixin contenido{
    font-family: 'Beth Ellen', cursive;
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

@mixin subtitulo{
    font-family: 'Beth Ellen', cursive;
    font-weight: lighter;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 2rem;
}

@mixin parrafo{
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 30px;
    margin-right: 30px;
}

@mixin imagen{
    width: 90%;
    height: auto;
    margin: 30px;
    border-radius: 12px;
    border: 2px solid white;
}