.main-nosotros{
    h2{
        @extend %titulo;
    }
}

/*Contenido de Nosotros*/
.main-nosotros{
    div{
        text-align: center;
        .subtitulo{
            @include subtitulo;
        }
        p{
            @include parrafo;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 12px;
            padding: 1.5rem;
            height: auto;
        }
        img{
            @include imagen;
        }
    }
}

.main-nosotros{
    div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 0.1fr 0.1fr;
        grid-template-areas: 
        "contenido-nosotros-uno contenido-nosotros-dos"
        "contenido-nosotros-tres contenido-nosotros-cuatro";
        align-items: center;
        .contenido-nosotros-uno{
            grid-area: contenido-nosotros-uno;
            display: inline-block;
        }
        .contenido-nosotros-dos{
            grid-area: contenido-nosotros-dos;
            display: inline-block;
        }
        .contenido-nosotros-tres{
            grid-area: contenido-nosotros-tres;
            display: inline-block;
        }
        .contenido-nosotros-cuatro{
            grid-area: contenido-nosotros-cuatro;
            display: inline-block;        
        }
    }
}