.main-productos{
    h2{
        @extend %titulo;
    }
}

/*Contenido de Productos*/
.main-productos{
    div{
        .card-title{
            font-size: 24px;
        }
        .card-text{
            align-items: center;
        }
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas: 
        "card-uno card-dos card-tres card-cuatro"
        "card-cinco card-seis card-siete card-ocho"
        "card-nueve card-diez card-once card-doce";
        justify-items: center;
        .card-uno{
            grid-area: card-uno;
            display: inline-block;
        }
        .card-dos{
            grid-area: card-dos;
            display: inline-block;
        }
        .card-tres{
            grid-area: card-tres;
            display: inline-block;
        }
        .card-cuatro{
            grid-area: card-cuatro;
            display: inline-block;
        }
        .card-cinco{
            grid-area: card-cinco;
            display: inline-block;
        }
        .card-seis{
            grid-area: card-seis;
            display: inline-block;
        }
        .card-siete{
            grid-area: card-siete;
            display: inline-block;
        }
        .card-ocho{
            grid-area: card-ocho;
            display: inline-block;
        }
        .card-nueve{
            grid-area: card-nueve;
            display: inline-block;
        }
        .card-diez{
            grid-area: card-diez;
            display: inline-block;
        }
        .card-once{
            grid-area: card-once;
            display: inline-block;
        }
        .card-doce{
            grid-area: card-doce;
            display: inline-block;
        }
        .card-body{
            display: inline-block;
        }
    }
}