.main-promociones{
    h2{
        @extend %titulo;
    }
}

/*Contenido de Promociones*/
.main-promociones{
    display: flex;
    flex-direction: column;
    align-items: center;
    .slide{
        width: 63%;
        margin: 2rem;
        height: auto;
        img{
            border-radius: 12px;
            border: 2px solid whitesmoke;
        }
        div{
            h3{
                text-shadow: 3px 1px 2px black;
                font-size: 35px;
            }
            p{
                text-shadow: 3px 1px 2px black;
                font-size: 21px;
            }
        }
    }
}